*{
    margin:0;
    padding:0;
    font-family: 'Times New Roman';

}

/* NAVBAR */
.navigasi{
    background-color: #BEE9E8;
    width: 100%;
    height: 70px;
    /* color:white; */
    position: fixed; 
    
}


.logo{
    float:left;
    padding:20px 30px;
    /* padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 30px; */
    color: #3a3a3a;
}

.menu{
    float:right;
    padding-top: 25px;
    padding-right: 40px;
    /* margin-left: 500px;
    padding-top:27px; */
}
.menu ul li{
    list-style: none;
    display:inline-block;
    margin-right: 50px;
    
}

.menu ul li a{
    text-decoration: none;
    color:#444;
    font-size: 20px;

}

.menu ul li a:hover {
    color:#ff7aa2;
    font-style: italic;
}

/* BANNER */
.banner{
    background-color:#ffd6e0;
    height: 520px;
    text-align: center;
    color: #333;
    padding-top: 70px;
    font-size: 25px;
}

.banner img{
    border-radius: 50%;
    height: 150px;
    border:6px solid #fff;
    margin-top: 50px;
    
}

.banner h1{
    margin-top: 20px;
    font-size: 40px;
}

.banner p{
    color:#555;
}

.banner button{
    margin-top: 25px;
    padding:12px;
    width: 280px;
    border-radius: 20px;
    border:none;
    background-color: white;
    color:#ff5c8a;
    font-weight: bold;
    font-size: 15px;
    
}

.banner button:hover{
    background-color: #ff5c8a;
    /* border: 1px solid white; */
    color:white;
}

/* BIODATA */
.data {
  max-width: 600px;
  margin: 80px auto;
  padding: 35px;
  background-color:#FFE4EC;
  border-radius: 16px;
  font-family: sans-serif;
}


.data h1{
    text-align: center;
    margin-top: 30px;
    align-content: center;
    color: #4d4d4d;
}

.data ul {
  list-style: none;
  padding: 0;
}

.data ul li {
  padding: 6px 0;
  font-size: 16px;
}

.data p {
  margin-top: 15px;
  line-height: 1.6;
  color: #555;
  text-align: justify;
}

/* FAMILY */
.fmly{
    text-align: center;
    margin:30px auto;
    background-color: #ffe6f0;
    padding: 80px 0;
}

.fmly h1{
    margin-bottom: 30px;
    color:#444;
}

.family-container{
    display: flex;
    justify-content: center;
    gap:25px;
    flex-wrap: wrap;
}

.family-card{
    background-color: #e3b9c7;
    padding: 15px;
    border-radius: 14px;

}

.family-card h3{
    margin-bottom: 10px;
}

.family-card img{
    border-radius: 12px;
    margin-bottom: 10px;
}

.family-card p{
    font-size: 14px;
    color:black;
    line-height: 1.5;
}

/* HOBI */
.hobi{
    background-color: #fff5fa;
    padding: 80px 20px;
    text-align: center;
}

.hobi h1{
    color:#444;
    margin-bottom: 15px;
}

.hobi ul{
    list-style: none;
    padding:0;
}

.hobi ul li{
    display: inline-block;
    width: 300px;
    margin:15px;
    background-color: rgb(247, 201, 209);
    padding: 15px;
    border-radius: 12px;

}

/* TABEL NOVEL */
.hobi table{
    margin:40px auto;
    border-collapse: collapse;
    width: 30%;
    background-color: white;
}

.hobi th, .hobi td{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.hobi th{
    color:black;
}

.hobi p {
  margin-top: 20px;
  line-height: 1.6;
  color: black;
  text-align: justify;
}


/* DREAM */
.mimpi {
  max-width: 700px;
  margin: 100px auto;
  padding: 35px;
  background-color: #ffe0e9;   /* pink soft, nyambung sama atas */
  border-radius: 14px;
  font-family: "Segoe UI", sans-serif;
}

.mimpi h1 {
  text-align: center;
  color: #4d4d4d;
  margin-bottom: 10px;
}

.mimpi p {
  text-align: center;
  color: #555;
  line-height: 1.6;
  margin-bottom: 25px;
}

.mimpi h2, .mimpi h3 {
  color: #444;
  margin-top: 20px;
}

.mimpi ul {
  padding-left: 20px;
}

.mimpi ul li {
  margin: 8px 0;
  font-size: 15px;
  color: #333;
}


ol {
  list-style-type: decimal;
  padding-left: 40px;
}

/* AKTIVITAS */

.aktivitas {
  max-width: 700px;
  margin: 100px auto;
  padding: 35px;
  background-color: #e0f7fa;   
  border-radius: 14px;
  font-family: "Segoe UI", sans-serif;
}

.aktivitas h1 {
  text-align: center;
  color: #4d4d4d;
  margin-bottom: 10px;
}

.aktivitas p {
  text-align: center;
  color: #555;
  margin-bottom: 25px;
}

/* TABEL */
.aktivitas table {
  width: 100%;
  border-collapse: collapse;
}

.aktivitas th, .aktivitas td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.aktivitas th {
  background-color: #b2ebf2;
  color: #333;
}

/* GALERI */
.galeri{
  max-width: 900px;
  margin:100px auto;
  padding:40px 20px;
  background-color: #d8eaea;
  border-radius: 14px;
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
}


.galeri h1{
  text-align: center;
  color: #4d4d4d;
  margin-bottom: 10px;
}

.galeri p{
  color:#666;
  margin-bottom:30px;
}

.galeri img{
  margin:20px;
  width:300px;
  height:250px;
  object-fit:cover;
  border-radius:12px;
  transition: 0.3s ease;
}

/* FUN FACT */
.unik {
  max-width: 700px;
  margin: 100px auto;
  padding: 35px;
  background-color: #f3e8ff; 
  border-radius: 14px;
  font-family: "Segoe UI", sans-serif;
  text-align: center;
}

.unik h1 {
  color: #4d4d4d;
  margin-bottom: 10px;
}

.unik p {
  color: #666;
  margin-bottom: 20px;
}

.unik ul {
  list-style: none;
  padding: 0;
}

.unik ul li {
  background-color: white;
  margin: 10px auto;
  padding: 12px;
  width: 80%;
  border-radius: 10px;
  font-size: 15px;
  color: #333;
}

h1{
  font-size: 35px;
}








/* .pict1 img,
.pict2 img,
.pict3 img {
  width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
} */
